<a href="/workwithme"   target="_blank">
<button class="bttn-slant bttn-sm bttn-danger">Work with me</button></a>



<a href="https://github.com/x0v/Resume_Latex/blob/master/Prashant_CV.pdf"   target="_blank">
<button class="bttn-slant bttn-sm bttn-danger">Resume</button></a>


<a href="/timeline"   target="_blank">
<button class="bttn-slant bttn-sm bttn-danger">Career</button></a>

<a href="/workbio"   target="_blank">
<button class="bttn-slant bttn-sm bttn-danger">Work bio</button></a>

<a href="/skills"   target="_blank">
<button class="bttn-slant bttn-sm bttn-danger">Skills</button></a>
