
<a href="/blog"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Blog</button></a>


<a href="/workwithme"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Collaborate</button></a>

<a href="/PGresume.pdf"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Resume</button></a>

<a href="/career"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Career</button></a>

<a href="/projects"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Projects</button></a>

<a href="/skills"   target="_self">
<button class="bttn-slant bttn-sm bttn-danger">Skills</button></a>
