
<nav>
  <ul>
    <li class="color-block"><a href="/backend/" class="{% if page.name == 'backend' %}selected{% endif %}">

    Backend</a></li>


    <li class="color-block"><a href="/cp/" class="{% if page.name == 'cp' %}selected{% endif %}">

    C P</a></li>

    <li class="color-block"><a href="/nlp/" class="{% if page.name == 'ai' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">


    N L P</a></li>

    <li class="color-block"><a href="/tml-dl/" class="{% if page.name == 'tml-dl' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    tM L - D L</a></li>

    <li class="color-block"><a href="/pml-dl/" class="{% if page.name == 'pml-dl' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    pM L - D L</a></li>

    <li class="color-block"><a href="/music/" class="{% if page.name == 'music' %}selected{% endif %}">
    <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

    Music</a></li>

<li class="color-block"><a href="/cv/" class="{% if page.name == 'cv' %}selected{% endif %}"><?xml version="1.0" encoding="iso-8859-1"?>

    Vision</a></li>

  </ul>
  <div class="clear"></div>
</nav>
