
<nav>
  <ul>
    <li class="color-block"><a href="/backend/" class="{% if page.name == 'backend' %}selected{% endif %}">

        <span title="Backend Development">Backend</span>

    </a></li>


    <li class="color-block"><a href="/cp/" class="{% if page.name == 'cp' %}selected{% endif %}">

    <span title="Competitve Programming">CP</span>
</a></li>

    <li class="color-block"><a href="/nlp/" class="{% if page.name == 'ai' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">


    <span title="Natural Language Processing">NLP</span>
    </a></li>

    <li class="color-block"><a href="/tds/" class="{% if page.name == 'tds' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <span title="Theoritical intuition in Data Science">TDS</span>

    </a></li>

    <li class="color-block"><a href="/pds/" class="{% if page.name == 'pds' %}selected{% endif %}">
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <span title="Practical implementations in Data Science">PDS</span>

    </a></li>

    <li class="color-block"><a href="/play/" class="{% if page.name == 'play' %}selected{% endif %}">
    <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

            <span title="Play music, badminton, TT">Play</span>

    </a></li>

<li class="color-block"><a href="/cv/" class="{% if page.name == 'cv' %}selected{% endif %}"><?xml version="1.0" encoding="iso-8859-1"?>

            <span title="Computer Vision, Image Processing">Vision</span>

    </a></li>

  </ul>
  <div class="clear"></div>
</nav>
