<div class="sidebar media-padded">
	<section>
	<h3></h3>
	<p>Welcome to <a href="http://cloudadic.com/">Cloudadic Inc.</a> Engineering! Keep yourself upto-date on top engineering efforts we are engaged. In addition to writing a lot of code, we like to write about writing code and the other things we're doing on the automation side.</p>
	</section>

	<section>
		<p><a href="https://github.com/cloudadic">Open Source</a></p>
		<!--<p><a href="https://github.com/StackExchange/stack-blog">Blog Repository</a></p>-->
	</section>

	<!--<section>
	<h3>Contributors</h3>
	{% include authors.html %}
	</section>-->
</div>
