<header class="masthead constrain">
	<div class="masthead__wrapper">
		<a href="/">
			<h1 class="masthead-title">x<span class="masthead-title__part"></span>0V<span class="masthead-title__part">prashant</span>|<div class="masthead-title__part masthead-title__extension"><i aria-hidden>analytics</i><i aria-hidden>data</i><i aria-hidden>CNN</i><i aria-hidden>RNN</i><i aria-hidden>nlp</i><span>stats</span></div></h1>
		</a>
		<div class="masthead-bar">
			<div class="masthead-bar__face">
				<div class="masthead-bar__menu">
					{% include partials/masthead-link.html link="" title="Blog" %}
					{% include partials/masthead-link.html link="video" title="Video" %}
					{% include partials/masthead-link.html link="about" title="About" %}
					{% include partials/masthead-link.html link="projects" title="Projects" %}
					{% include partials/masthead-link.html link="skills" title="Skills" %}

				</div>
			
				<label for="search-toggle" class="masthead-bar__open-search-button search-button">
					<svg class="search-button__icon">
						<use xlink:href="#icon-search"></use>
					</svg>
					<span class="search-button__label">Search</span>
				</label>
			</div>
			<div class="masthead-bar__face">
  			<input id="search-input" type="text" class="masthead-bar__search-input" placeholder="Search by tag OR post text...">
  			<label for="search-toggle" class="masthead-bar__close-search-button">✕</label>
  		</div>
		</div>
	</div>	
</header>