
<div>
Share this on &rarr;

<a href="http://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" style="color:#fff; background:#3B5998; padding: 4px; text-decoration: none;">Facebook</a>

<a href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color:#fff; background:#33CCFF; padding: 4px; text-decoration: none;">Twitter</a>

<a href="http://plus.google.com/share?url={{site.url }}{{page.url }}" rel="nofollow" target="_blank" title="Share on Google+" style="color:#fff; background:#C63D2D; padding: 4px; text-decoration: none;">Google+</a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url }}{{page.url }}" rel="nofollow" target="_blank" title="Share on Linkedin" style="color:#fff; background:#4875B4; padding: 4px; text-decoration: none;">Linkedin</a>

</div>

