.feature-title {
   display: block;
}

.feature-title__full {
  @include post-title;

  display: block;

	@include media('>=medium') {
		font-size: 0;
		line-height: 0;
	}
}

.feature-title__part {
   font-size: 75px !important;
   text-align: center;
}
