<!DOCTYPE HTML>
<html lang="en">
  <head>
    <script type="text/javascript">
    var host = "imprashant.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
   </script>
  	<meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
  	<meta name="description" content="Code and Create" />
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="shortcut icon" href="/favicon-96x96.png" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css?56465476" />
    {% if layout.label == 'blog'%}
    <link rel="stylesheet" href="/css/prism.css" />
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/rss.xml">
    <script>
      /*var connectionCheckTimeout = setTimeout(function () {
        window.isSlowConnection = true;
        var style = document.createElement('style');
        style.textContent = 'body{font: 17px/1.56 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}';
        document.head.appendChild(style);
      }, 1000);
      window.onload = function () {
        console.log('fast connection');
        clearTimeout(connectionCheckTimeout);
      }*/
    </script>

  </head>

  <body class="{% if page.label %}{{ page.label }}{% else %}{{ layout.label }}{% endif %}">

 

    <div class="search" autofocus id="js-search">
      <a href="javascript:void(0)" onclick="toggleSearch()" class="search__close-btn">
        <svg style="width:48px;height:48px" viewBox="0 0 24 24">
        <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
        </svg>
      </a>
      <input type="text" class="search__input" id="search-input" placeholder="Type to Search... " size=50>
      <ul class="search__results" id="results-container"></ul>
    </div>

    <div id="outer-container">
      <div id="main-container">

        <header class="top-header {% if page.label == 'home' %}top-header--home{% endif %}">
        <a href="/"><h1>Prashant Gupta</h1></a>
                                <div>{% include contactme.html %}</div>
                </header>
        {% if page.type != 'game' %}
        <div id="content">
          {{ content }}
        </div>
        {% endif %}

<!--         <center><div class="top-header__logo2"> <h1>Recent Posts</h1></div>
          {% for post in site.posts limit:3 %}
              <li>
                <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3></a>
                <h6 class="blogdate">{{ post.date | date: "%d %B %Y" }}</h6>
              </li>
          {% endfor %}
      </div></center>
 -->

              <!-- using the split filter -->

    </div>

  </body>


</html>
